[Unit]
Description=Matrix Clock
After=network.target

[Service]
Type=simple
User=ec2-user
WorkingDirectory=$APP_DIR
ExecStart=/usr/bin/uv run $APP_DIR/backend
Restart=on-failure
RestartSec=300

[Install]
WantedBy=multi-user.target
