# Only for local
PORT=3001
NODE_ENV=development

# Cognito (REQUIRED - get from `terraform output`)
COGNITO_CLIENT_ID=1q9p7sqo3dqai9a6n3ritep3gp
COGNITO_USER_POOL_ID=us-east-1_dqgMdQ3le

# AWS Config
DYNAMODB_TABLE=reports
DYNAMODB_ENDPOINT=http://127.0.0.1:8000
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=local
AWS_SECRET_ACCESS_KEY=local

DB_NAME=marky
DB_HOST=localhost
DB_PORT=5432
DB_USER=marky
DB_PASS=marky
DB_PASSWORD=marky

SQS_CAMPAIGNS_EVENTS_URL=http://127.0.0.1
SQS_OUTPUT_REPORTS_URL=http://127.0.0.1
S3_BUCKET_NAME=marky