# Only for local
PORT=3001
NODE_ENV=development

# Cognito (REQUIRED - get from `terraform output`)
COGNITO_USER_POOL_ID=us-east-1_XXXXXXXXX
COGNITO_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxx

# AWS Config
DYNAMODB_TABLE=marky-data
AWS_REGION=us-east-1

# Backend (Python analysis service)
BACKEND_URL=http://127.0.0.1:8000
