# dependencies
node_modules/

# build output
dist/
build/

# logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env files
.env
.env.*
!.env.example

# macOS
.DS_Store

# IDEs
.vscode/
.idea/

# TypeScript
*.tsbuildinfo

# coverage
coverage/

# aws / serverless artifacts
.lambda/
.serverless/
lambda.zip

# temporary files
tmp/
temp/